style.css
background{
  background-color: #eaf3ff;
  fontfamily: Raleway, sans-serif;
  margin:40px;
}

h1 {
    color: #1e40af;
}

h2 {
    color: #2563eb;
}
ul {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
